h1 {
  font-size: 100px;
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}

div {
  float: left;
  background-color: gray;
  border: 2px solid black;
  width: 33%;
  height: auto;
}

img {
  border: 1px solid black;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.fluffy h3 {
  text-align: center;
  background-color: yellow;
  font-size: 50px;
  font-style: italic;
  color: green;
}

.pookie h3 {
  text-align: center;
  background-color: red;
  font-size: 50px;
  font-style: italic;
  color: blue;
}

.stella h3 {
  text-align: center;
  background-color: purple;
  font-size: 50px;
  font-style: italic;
  color: orange;
}

@media screen and (min-width:1001px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: Black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
