.fluffy h3 {
  font-size: 50px;
  font-style: italic;
  color: green;
}

.pookie h3 {
  font-size: 50px;
  font-style: italic;
  color: green;
}

.stella h3 {
  font-size: 50px;
  font-style: italic;
  color: green;
}
